extends layout

block content
  h1 #{claims.length} registered claims 
    a(href="/item") (Add a claim)
  table#claims
    thead
      tr
        th Number
        th Type
        th Item
        th Location
        th Reported At
        th Status
      tbody
        each claim, index in claims
          tr
            td
              a(href="/claims/#{claim.id}") #{claim.id}
            td
              if (claim.type == "lost")
                | Lost Item
              else
                | Found Item
            td
              | Pair of RayBan glasses
            td
              | #{claim.location}
            td
              | #{claim.time}
            td
              if (claim.resolved)
                | Resolved
              else
                | Unresolved
    