extends layout

block content
  form.form-horizontal(role='form')
    for field in fields

      if (field['type']['_typeName'] == "VARCHAR")
        div.form-group
          label(for=field['id'])= field['id']
          input.form-control(type='text',placeholder="Enter #{field['id']}",name=field['id'],id=field['id'])

      else if (field['type'] == "TINYINT(1)")
        div.form-group
          label(for=field['id'])= field['id']
          input(type='checkbox',name=field['id'],id=field['id'])

      else if (field['values'] != undefined)
        div.form-group
          label(for=field['id'])= field['id']
          select.form-control
            option(selected)= '- choose one -'
            for opt in field['values']
              option= opt

      else if (field['type'] == "DATETIME")
        div.form-group
          label(for=field['id'])= field['id']
          input(type='date',name=field['id'],id=field['id'])
          input(type='time',name=field['id'],id=field['id'])

    a.btn.btn-default(href='javascript:LF.submitClaim();')= "Create my Claim"





